{% extends 'base.html.twig' %}

{% block title %}Hello TwigFilterController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ "now"|date("d-m-Y H:i:s") }}
    <hr>
    {{ nowDate|date("d-m-Y H:i:s") }}
    <hr>
    {{ [1,2,3,4,5]|first }}
    <hr>
    {{ [1,2,3,4,5]|last }}
    <hr>
    {{ arrData|first }}
    <hr>
    {{ arrData|last }}
    <hr>
    {{ arrData|length }}
    <hr>
    {% for data in arrData|filter(data => data < 4) %}
    {{ data }}
    {% endfor %}
    <hr>
    {{ [1,2,3,4,5]|join('~') }}
    <hr>
    {{ "MERHABA"|lower }}
    <hr>
    {{ "merhaba"|upper }}
    <hr>
    {{ "   Merhaba Dünya   "|trim }}
    <hr>
    {{ "   Merhaba Dünya   ."|trim(".") }}
    <hr>
    {{ "   Merhaba Dünya   ."|trim(side="left") }}
    <hr>
    {{ "   Merhaba Dünya   .       "|trim(" ","right") }}
</div>
{% endblock %}
