{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}


{% block body %}
    <h1>Create new Category</h1>
    <a id="bctlist" href="{{ path('category_index') }}">back to list</a>

    {{ include('category/_form.html.twig') }}

{% endblock %}
