{% extends 'base.html.twig' %}

{% block title %}Hello BookByCategoryController!{% endblock %}

{% block body %}
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Featured</span></h2>
        </div>
        <div class="card-columns listfeaturedtag">
            {% for book in getbooks %}
                <!-- begin post -->
                <div class="card">
                    <div class="row">
                        <div class="col-md-5 wrapthumbnail">
                            <a href={{ path('single_book',{'id':book.id}) }}>
                                <div class="thumbnail"
                                     style="background-image:url({{ asset('assets/img/demopic/1.jpg') }});">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-block">
                                <h2 class="card-title"><a href="post.html">{{ book.bookName }}</a></h2>
                                <h4 class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</h4>
                                <div class="metafooter">
                                    <div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb"
                                                           src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
                                                           alt="Sal"></a>
								</span>
                                        <span class="author-meta">
								<span class="post-name"><a href="author.html">Steve</a></span><br/>
								<span class="post-date">22 July 2017</span><span class="dot"></span><span
                                                    class="post-read">6 min read</span>
								</span>
                                        <a href="{{ path('book_like',{"id":book.id}) }}" class="btn btn-link js-like">
                                            {% if app.user and book.blLike!=null %}
                                                <i class="fas fa-thumbs-up"></i>
                                            {% else %}
                                                <i class="far fa-thumbs-up"></i>
                                            {% endif %}
                                            <span class="js-likes">{{ book.bookLikeCount }}</span>
                                            <span class="js-label">Beğen</span>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block customScript %}
    <script>
        function onClickLike(event) {
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector("span.js-likes");
            const icone = this.querySelector("i");

            axios.get(url).then(function (response) {
                spanCount.textContent = response.data.likes;
                if (icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far');
                } else {
                    icone.classList.replace('far', 'fas');
                }
            }).catch(function (error) {
                if (error.response.status === 403) {
                    Swal.fire({
                        title: 'Beğenmeden önce giriş yapmalısınız!',
                        showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                        }
                    })
                } else {
                    Swal.fire({
                        title: 'Press CTRL + P to Print !!!',
                        showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                        }
                    })
                }
            })
        }

        document.querySelectorAll('a.js-like').forEach(function (link) {
            link.addEventListener('click', onClickLike);
        })

    </script>
{% endblock %}
