{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>
    <a id="bctlist" href="{{ path('book_index') }}">back to list</a>

    {{ include('book/_form.html.twig') }}

{% endblock %}
