<form method="post" action="{{ path('deneme2_delete', {'id': deneme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deneme.id) }}">
    <button class="btn">Delete</button>
</form>
