{% extends 'base.html.twig' %}

{% block title %}Deneme index{% endblock %}

{% block body %}
    <h1>Deneme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deneme in denemes %}
            <tr>
                <td>{{ deneme.id }}</td>
                <td>{{ deneme.name }}</td>
                <td>{{ deneme.slug }}</td>
                <td>
                    <a href="{{ path('deneme2_show', {'id': deneme.id}) }}">show</a>
                    <a href="{{ path('deneme2_edit', {'id': deneme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('deneme2_new') }}">Create new</a>
{% endblock %}
