{% extends 'base.html.twig' %}

{% block title %}Deneme{% endblock %}

{% block body %}
    <h1>Deneme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deneme.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ deneme.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ deneme.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('deneme2_index') }}">back to list</a>

    <a href="{{ path('deneme2_edit', {'id': deneme.id}) }}">edit</a>

    {{ include('deneme2/_delete_form.html.twig') }}
{% endblock %}
