<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href={{ asset('assets/css/bootstrap.min.css') }} rel="stylesheet">
        <link href={{ asset('assets/css/mediumish.css') }} rel="stylesheet">
        <link href={{ asset('assets/css/jquery.dataTables.min.css') }} rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <style>
            input[type=text], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            input[type=number], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            .submit {
                width: 100%;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            #bctlist {
               float: right;
            }

            /*.pagination {*/
            /*    display: inline-block;*/
            /*}*/

            /*.pagination span {*/
            /*    color: black;*/
            /*    float: left;*/
            /*    padding: 8px 16px;*/
            /*    text-decoration: none;*/
            /*    transition: background-color .3s;*/
            /*}*/

            /*.navigation {*/
            /*    text-align: center;*/
            /*}*/

        </style>
    {% endblock %}
    {% block customCss %}

    {% endblock %}
    {% set baseURL = app.request.requestUri|slice(4,app.request.requestUri|length) %}
</head>
<body>
{{ include('template_layout/header.html.twig') }}
<div class="container">
    {% block body %}

    {% endblock %}
    {{ include('template_layout/footer.html.twig') }}
</div>
{% block javascripts %}
    <script src={{ asset('assets/js/jquery.min.js') }}></script>
    <script src={{ asset('assets/js/bootstrap.min.js') }}></script>
    <script src={{ asset('assets/js/ie10-viewport-bug-workaround.js') }}></script>
    <script src={{ asset('assets/js/dataTables.buttons.min.js') }}></script>
{#    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>#}
    <script src={{ asset('assets/js/jquery.dataTables.js') }}> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>

    <script>
        $( document ).ready(function() {
            $( "#bctlist" ).addClass( "btn-sm btn-info" );
            // $(".pagination").parents('div').css("text-align", "center");

        });
    </script>
{% endblock %}
{% block customScript %}
{% endblock %}


</body>

</html>
