{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
{#                <th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.name }}</td>
                <td> <a href="{{ path('post_like',{'id':post.id}) }}" class="btn btn-link js-like">
                        {% if app.user and post.postLike(app.user) %}
                            <i class="fas fa-thumbs-up"></i>
                        {% else %}
                            <i class="far fa-thumbs-up"></i>
                        {% endif %}
                          <span class="js-likes">{{ post.postLikes|length }}</span>
                        <span class="js-label">asdasd</span>
                    </a></td>
{#                <td>#}
{#                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>#}
{#                    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}">Create new</a>
{% endblock %}

{% block customScript %}
    <script>
        function onClickBtnLike(event){
            event.preventDefault();

            const  url = this.href;
            const  spanCount = this.querySelector('span.js-likes');
            const  icone = this.querySelector('i');


            axios.get(url).then(function (response){
                console.log("response")
                console.log(response)
                spanCount.textContent = response.data.likes;

                if (icone.classList.contains('fas')){
                    icone.classList.replace('fas','far');
                }else {
                    icone.classList.replace('far','fas');
                }
            }).catch(function (error){
                if (error.response.status === 403){
                    window.alert("aaaaaa")
                }else {
                    window.alert("bbbb")
                }
            })
        }

        document.querySelectorAll('a.js-like').forEach(function (link){
            link.addEventListener('click',onClickBtnLike);
        })
    </script>
{% endblock %}
