{% extends 'base.html.twig' %}

{% block title %}Hello DenemeController!{% endblock %}

{% block body %}
    <div>
        <div>
            {{ form_start(form) }}
        </div>
        <div>
            <label>name</label>
            <div>
                {{ form_widget(form.name) }}
            </div>
            <label>price</label>
            <div>
                {{ form_widget(form.price) }}
            </div>
            <label>quantity</label>
            <div>
                {{ form_widget(form.quantity) }}
            </div>
        </div>
        <div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
