<form method="post" action="{{ path('knp_datas_delete', {'id': knp_data.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ knp_data.id) }}">
    <button class="btn">Delete</button>
</form>
