{% extends 'base.html.twig' %}

{% block title %}Edit KnpDatas{% endblock %}

{% block body %}
    <h1>Edit KnpDatas</h1>

    {{ include('knp_datas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('knp_datas_index') }}">back to list</a>

    {{ include('knp_datas/_delete_form.html.twig') }}
{% endblock %}
