{% extends 'base.html.twig' %}

{% block title %}DÜZ DATATABLE{% endblock %}
{% block customScript %}
    <script>
        $(document).ready( function () {
            // setTimeout(function(){
                $('#datatable').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            // }, 500);
        } );
    </script>
{% endblock %}


{% block body %}
    <h1>DÜZ DATATABLE</h1>
    <a href="{{ path('knp_datas_new') }}">Create new</a>

    <table id="datatable" class="table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for knp_data in knp_datas %}
            <tr>
                <td>{{ knp_data.id }}</td>
                <td>{{ knp_data.name }}</td>
                <td>
                    <a href="{{ path('knp_datas_show', {'id': knp_data.id}) }}">show</a>
                    <a href="{{ path('knp_datas_edit', {'id': knp_data.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
