{% extends 'base.html.twig' %}

{% block title %}KNP PAGINATION{% endblock %}
{% block customScript %}

{% endblock %}


{% block body %}
    <h1>KNP PAGINATION KULLANILDI</h1>
    <a class="btn btn-info"  style="float: right;" href="{{ path('knp_datas_new') }}">Create new</a>
    <table class="table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ "name"|trans }}</th>
                <th>{{ "actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for knp_data in knp_datas %}
            <tr>
                <td>{{ knp_data.id }}</td>
                <td>{{ knp_data.name }}</td>
                <td>
                    <a href="{{ path('knp_datas_show', {'id': knp_data.id}) }}">show</a>
                    <a href="{{ path('knp_datas_edit', {'id': knp_data.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(knp_datas) }}
    </div>

{% endblock %}
