{% extends 'base.html.twig' %}

{% block title %}New KnpDatas{% endblock %}

{% block body %}
    <h1>Create new KnpDatas</h1>

    {{ include('knp_datas/_form.html.twig') }}

    <a href="{{ path('knp_datas_index') }}">back to list</a>
{% endblock %}
