{% extends 'base.html.twig' %}

{% block title %}KnpDatas{% endblock %}

{% block body %}
    <h1>KnpDatas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ knp_data.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ knp_data.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('knp_datas_index') }}">back to list</a>

    <a href="{{ path('knp_datas_edit', {'id': knp_data.id}) }}">edit</a>

    {{ include('knp_datas/_delete_form.html.twig') }}
{% endblock %}
